body {
  background-color: lightcoral;
}

h2 {
  margin-top: 20px;
}

.enter-name {
  margin-bottom: 1rem;
}

.chat-window {
  height: 500px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 1rem;
}

.input-group-addon {
  background-color: darkolivegreen;
  color: #efefef;
}

#messages {
  padding: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.msg {
  margin-bottom: 1rem;
}

.memeber-name, .new-member {
  font-weight: bolder;
}

