<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<title>Chatty</title>
</head>
<body>
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <h2>Chat box</h2>
            <div class="input-group col-6 mx-auto enter-name">
               <input type="text" id="name-input" class="form-control" placeholder="Enter Your Name">
               <span class="input-group-addon submit-name">Enter</span>
            </div>
         </div>
         <div class="col-md-12">
            <div class="chat-window">
               <div id="messages"></div>
            </div>
         </div>
         <div class="col-md-12 text-center">
            <div class="input-group enter-chat-message">
               <input type="text" id="chat-input" class="form-control" placeholder="Input">
               <span class="input-group-addon submit-chat-message">Submit</span>
            </div>
         </div>
         <div class="col-md-12 text-center">
            <div class="input-group leave-chat-room">
               <span class="input-group-addon leave-chat-button" id="leave-room">Leave Room</span>
            </div>
         </div>
      </div>
      <div class="col-md-12 text-center">
         <small>
            Author: Keith Wheeler
         </small>
      </div>
   </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>